@using Syncfusion.Blazor.Buttons
@inject IJSRuntime JSRuntime
@page "/"

<h1>Hello, world!</h1>

<SfButton Content="Open Window" OnClick=OpenWindow />

@code {
    private async Task OpenWindow()
    {
        await JSRuntime.InvokeVoidAsync("OpenWindow", "/test");
    }
}
